.tic-tac {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    
    
}
.chance{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 150px;
    border: 2px solid black; 
}
.button{
    display: flex;
    gap:10px;
}
button{
    width: 50px;
    height: 50px;
   
}